*{
	margin: 0;
	padding: 0;
}

#my_table{
	margin: 0 auto;
	width: 70%;
	text-align: center;
}

input[type=text]{
	border: none;
	text-align: center;
}

div{
	text-align: center;
	line-height: 50px;
}

.fenye{
	font-size: 16px;
	padding:5px 0;
	margin:10px 0;
	text-align: center;
}
.fenye a{
	display: inline-block;
	background: #fff;
	border:1px solid #d6d6d6;
	color:#999;
	height: 42px;
	line-height: 42px;
	width:42px;
	vertical-align: middle;
}
.fenye a:hover{
	text-decoration: none;
}
.fenye .prev{
	font-size: 12px;
	width:80px;
	display: none;
}
.fenye .next{
	font-size: 12px;
	width:80px;
}

.fenye .now{
	color: #fff;
	background: orange;
}

.fenye .start{
	display: none;
}

.fenye .end{
	display: inline-block;
}
		