<include file="Common:header"/>
<div class="barren">
    <img src="__PUBLIC__/images/barren.jpg" width="100%" />
</div>
<div class="index-guangyu">
    <div class="index-guangyut">
        <div class="guanyu" style="position:relative;">
            <ul>
                <li> <img class="weixin" src="__PUBLIC__/images/bag10.png" width="19" height="18"/> </li>
                <li> <img src="__PUBLIC__/images/bag11.png" width="19" height="18" /> </li>
                <li> <img src="__PUBLIC__/images/bag12.png" width="19" height="18" /> </li>
            </ul>
            <!--二维码-->
            <div class="d_wx" style="display:none;background:white;width:250px;height:110px;position:absolute;z-index:10;left:800px;top:40px;">
                <img class="p_weixin" src="__PUBLIC__/images/weixin.jpg" alt="二维码" style="width:90px;height:90px;margin:10px 0 0 10px;">
                <p style="font-family:'微软雅黑';font-size:12px; margin:-80px 0 0 120px;line-height:14px;"> 请关注我们 <br /> <br /> 用微信扫描二维码 <br /> 分享至好友和朋友圈 </p>
            </div>
        </div>
    </div>
    <div class="guanyuz">
        <div class="gyz">
            <div class="gyzt">
                <a class="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 服务范围 </a>
                <a href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> <img src="__PUBLIC__/images/mo.png" width="37" height="12" /> </a>
            </div>
            <ul>
                <li>
                    <img src="__PUBLIC__/images/tu-1.jpg" width="35" height="35" />
                    <p>
                        <span> <a href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 咨询服务 </a> </span>
                        <br />
                        咨询互联网+、大数据、IT规划，
                        <a style="color:#999;" href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 详情 </a>
                    </p>
                    <div style="clear:both;"> </div>
                </li>
                <li>
                    <img src="__PUBLIC__/images/tu-2.jpg" width="35" height="35" />
                    <p>
                        <span> <a href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 产品工程服务 </a> </span>
                        <br />
                        提供碧软公司产品、工程服务等，
                        <a style="color:#999;" href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 详情 </a>
                    </p>
                    <div style="clear:both;"> </div>
                </li>
                <li>
                    <img src="__PUBLIC__/images/tu-3.jpg" width="35" height="35" />
                    <p>
                        <span> <a href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> IT服务 </a> </span>
                        <br />
                        提供软件服务、软件应用开发等，
                        <a style="color:#999;" href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 详情 </a>
                    </p>
                    <div style="clear:both;"> </div>
                </li>
                <li>
                    <img src="__PUBLIC__/images/tu-4.jpg" width="35" height="35" />
                    <p>
                        <span> <a href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 业务流程外包服务 </a> </span>
                        <br />
                        提供业务流程外包、人才外包等，
                        <a style="color:#999;" href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$service['cate'],'pid'=>$service['id']))}"> 详情 </a>
                    </p>
                    <div style="clear:both;"> </div>
                </li>
            </ul>
        </div>
        <div class="gyzo">
            <div class="gyzt">
                <a class="{:U(MODULE_NAME.'/News/index')}"> 新闻中心 </a>
                <a href="{:U(MODULE_NAME.'/News/index',array('cate'=>$news[0][cate]))}"> <img src="__PUBLIC__/images/mo.png" width="37" height="12" /> </a>
            </div>
            <ul>
                <foreach name="news" item = "v">
                    <li>
                        <p>
                            <a href="{:U(MODULE_NAME.'/News/details',array('newsid'=>$v['id']))}">
                                <strong> {$v.name|subtext=25} </strong>
                                <span> {$v.time|date='Y-m-d',###} </span>
                            </a>
                            <br />
                            <span class="span1"> {$v.title|subtext=35} </span>
                        </p>
                        <div style="clear:both;"> </div>
                    </li>
                </foreach>
            </ul>
        </div>
        <div class="gyy">
            <div class="gyzt"> <a href="{:U(MODULE_NAME.'/Product/detail',array('cate'=>$job['cate'],'pid'=>$job['id']))}"> 加入广州碧软 </a> </div>
            <div class="tu">
                <img src="__PUBLIC__/images/lianxi.png" width="230" height="90" />
                <p> 如果您认同我们的价值观，和我们一样充满 激情，请和我们一起续写IT职业生涯的美好前程。 </p>
            </div>
            <div class="gyzx">
                <a href="{:U(MODULE_NAME.'/Contact/index')}"> 联系我们 </a>
                <p style=" margin-left:7px; line-height:22px;"> 您可以在线提交您的需求,我们会及时与您联系。 </p>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer"/>
<script>
    $(function() {
        $('.weixin').css('cursor', 'pointer');
        $('.weixin').mouseover(function() {
            $('.d_wx').css('display', 'block');
        });
        $('.weixin').mouseout(function() {
            $('.d_wx').css('display', 'none');
        });
        $('.wx_close').css('cursor', 'pointer');
        $('.wx_close').click(function() {
            $('.d_wx').css('display', 'none');
        });
    });
</script>