<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/public.css"/>
	<css file="__PUBLIC__/Css/node.css"/>
	<js file="__PUBLIC__/Js/back/jquery.min.js"/>
	<script type="text/javascript">
		$(function(){
			 $('.del').click(function(){
		 	  if(confirm('您确认要删除吗？')){
		 		return true;
		 	   }
		 		return false;
		   });
		})
	</script>
</head>
<body>
	<div id='wrap'>
		<a href="{:U(MODULE_NAME.'/Rbac/addNode')}" class="add-app">添加应用</a>
		<foreach name="node" item="app">
			<div class="app">
				<p>
					<strong>{$app.title}</strong>
					[<a href="{:U(MODULE_NAME.'/Rbac/addNode',array('pid'=>$app['id'],'level'=>2))}">添加控制器</a>]
					[<a href="{:U('Admin/Rbac/delNode',array('pid'=>$app['id'],'level'=>2))}" class="del">删除</a>]
				</p>
				<foreach name='app.child' item='action'>
					<dl>
						<dt>
							<strong>{$action.title}</strong>
							[<a href="{:U(MODULE_NAME.'/Rbac/addNode',array('pid'=>$action['id'],'level'=>3))}">添加方法</a>]
							[<a href="{:U(MODULE_NAME.'/Rbac/delNode',array('pid'=>$action['id'],'level'=>3))}" class="del">删除</a>]
						</dt>
						<foreach name='action.child' item='method'>
								<dd>
									<span>{$method.title}</span>
									[<a href="{:U(MODULE_NAME.'/Rbac/delNode',array('pid'=>$method['id']))}" class="del">删除</a>]
								</dd>
						</foreach>
					</dl>
				</foreach>
			</div>
		</foreach>
	</div>
</body>
</html>